* {
  margin: 0;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 25px;
  
  
}

body {
  height: 1000px;
  background-image: url(wallpapers.jpg);
  background-size: cover;

  background-position: center;
  
}


li {
  list-style: none;
}


a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
a:hover {
  color: orange;
}
/* HEADER */
header {
  position:relative;
  padding: 0 2rem;
}

.navbar {
  width: 1400px;
  height: 60px;
  max-width: 1400px;
  margin: 0 auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border: 2px solid grey ;
  background-color: gray;
  position: fixed;
 
}
.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: #fff;
  font-size:  1.5rem;
  cursor: pointer;
  display: none;
}



/*HERO*/  
section#hero{
  height: calc(100ch - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 400px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h1{
  font-size: 50px;
}

p {
 font-size: 30px;
 color: #fff;
 width: auto;
 
}
th {
  border: 1px solid black;
  border-radius: 20px;
  width: 900px;
  background-color: darkgray;
  opacity: 1.1;  
  background-image: url(paper.jpg);
  align-items: center;
  
}

